@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Red+Hat+Display&display=swap');
*{
    font-family: 'Crimson Text', serif;
/* font-family: 'Red Hat Display', sans-serif; */
margin: 0;
padding: 0;scroll-padding-top: 2rem;
scroll-behavior: smooth;
box-sizing: border-box;
list-style: none;
text-decoration: none;

}
:root{
    --main-color:#fd4646;
    --text-color:#171427;
    --bg-color:#fff;
}
img{
    width:100%;
    background-color: white;

}
body{
    color:var(--text-color)
    /* color: var(--bg-color); */
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}
section{
    padding: 4rem 0 3rem;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: var(--bg-color);
    background: var(--text-color);
    box-shadow: 0 1px 4px hsl(0 4% 15%/10%);
    font-size: 2.1rem;
    /* position: relative; */
    z-index: 100;

}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}
.logo{
    font-size: 2.1rem;
    color: white;
    /* background-color: var(--text-color); */
    font-weight: 400;
}
#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    /* width: 25rem; */
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    font-size: 1.5rem;
    color: var(--text-color);
    box-shadow: -2px 0 4px hsl(0 4% 15%/10%);
    transition: 0.3s;
}
.cart.active{
    right: 0;

}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.detail-box{
    display: grid;
    row-gap: 0.5 rem;

}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.cart-product-title{
    font-size: 1.5rem;
    text-transform: uppercase;

}
.cart-price{
    font-weight: 500;
    /* background-color: blue; */

}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: 0.5rem;
    font-size: 1rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background: var(--main-color);
}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}
.section-title{
    /* margin-top: 1.5rem; */
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}
.shop{
    margin-top: 2rem;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 2.5rem;
}
.product-box{
    position: relative;
}
.product-box:hover{
    padding: 5px;
    border: 3px solid var(--text-color);
    transition: 0.4s;
}
.product-img{
    width: 100%;
    height: auto;
    margin-bottom: 0.5rem;
}

.product-title{
    font-size: 1.1rem;
    font-weight: 600px;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.price{
    font-weight: 500;
}
.add-cart{
    position:absolute;
   bottom: 0;
   right: 0;
   background: var(--text-color);
   color: var(--bg-color);
   padding: 3px;
   cursor: pointer; 
}
footer{
    /* background:rgba(77,228,255,0.6); */
    background: linear-gradient(rgb(13, 16, 17), rgba(0, 0, 0, 0.4));
    color:var(--exDark);
    text-align: center;
    padding: 2rem 0;
    font-weight: bolder;
   

}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-links a{
    border: 2px solid var(--exDark);
    color: var(--exDark);
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: var(--exDark);
}
.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    font-weight: bolder;
    letter-spacing: 2px;
} 

.slider-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
    background:whitesmoke;
    
}
.slider {
    position: relative;
    width: 80%;
    overflow: hidden;
}
.images {
    display: flex;
    width: 100%;

}
.images img {
    height: 500px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid black 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: black;}
#img1:checked ~ .m1 {
    margin-left: 0;
   
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
/* .add-cart:hover{

} */

@media(max-width:1080px){
    .nav{
        padding: 15px;

    }
    section{
        padding: 3rem 0 2 rem;
    }
    .container{
        margin: 0 auto;
        width: 90%;
    }
    .shop{
        margin-top: 2rem !important;
    }
}
@media(max-width:400px){
    .nav{
        padding: 11px;
    }
    .logo{
        font-size: 1rem;
    }
    .cart{
        width: 320px;
    }
}
@media(max-width:360px){
    .shop{
        margin-top: 1rem !important;
    }
    .cart{
        width: 280px;
    }
}